@import url('../styles/reset.css');
@import url('../styles/fonts.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body,html {
    width: 100%;
    height: 100%;
    overflow-x: hidden ;
}
body {
    background-color: black;
    font-family: "PT Sans";
    color: white;
}

.main-btn {
    font-family: 'PT Sans';
    outline: none;
    border: none;
    color: white;
    border: white 1px solid;
    text-transform: uppercase;
    padding: 12px 28px;
    background-color: transparent;
    letter-spacing: 2px;
}

.main-h2-wrapper {
    color: white;
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    ::after {
        content: url("../img/Line\ 2.png");
        display: block;
        margin-left: 68px;
        padding-bottom: 30px;
    }
}

.header {
    .top-line {
        a {
            color: gray;
        }
        font-size: 12px;
        background-color: #000000;
        color: gray;
        padding: 14px 0;
        &__login:hover, &__registration:hover {
            color: white;
        }
        .number {
            position: relative;
            &::before {
                position: absolute;
                left: -27px;
                content: url("../img/toplinenumber.png");
            }
        }
        &__login {
            position: relative;
            &::before {
                position: absolute;
                left: -22px;
                top: 1px;
                content: url("../img/ic_sharp-log-in.png");
            }
        }
        &__wrapper {
            display: flex;  
            justify-content: space-between;
            width: 1110px;
            margin: 0 auto;
        }
    }
    .header__main {
        display: flex;
        flex-direction: column;
        background-color:#0F0F0F;
        &-wrapper {
            height: 80px;
            width: 1160px;
            margin: 0 auto;
            display: flex;

            align-items: center;
            justify-content: space-between;
            font-size: 14px;
        }
        .header__logo {
            font-family: 'Post No Bills Jaffna';
            color: #FFFFFF;
            font-size: 36px;
            font-weight: 700;
        }
        .header__nav {
            display: flex;
            align-items: center;
            
            .header__nav-list {
                .header__nav-list-item {
                    transition-property: background-color, color;
                    transition: 0.1s 0.1s;
                    padding: 31px 20px;
                    color: #969696;
                    text-transform: uppercase;
                    display: inline;
                    a {
                        color: #969696; 
                    }
                    &:hover {
                        border-bottom: 5px gray solid;
                        transition: 0.1s;
                        background-color: #1F1F1F;
                        a {
                            color: #FFFFFF;
                        }
                    } 
                }
            }
            .header__nav-icons {
                margin-left: 20px;
                &-item {
                    display: inline-block;
                    padding: 31px 20px;
                }
            }
        }
    }
}
.first-screen {
    display: flex;
    justify-content: center;
    background: url("../img/first-screen__back.png");
    background-position: center;
    &__text {
        margin-top: 80px;
        text-align: center;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
    }
    &__logo {
        width: 320px;
        height: 320px;
    }
    &__wrapper {
        width: 730px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 810px;
    }
}
.collection {
    flex-wrap: wrap;
    display: flex;
    &__new-season-img-wrapper {
        background-color: #191B1C;
        padding: 55px 25px;
    }
    &__new-season {
        flex-grow: 1;
            background-color: #000000;
            &-wrapper {
                padding: 93px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        .collection__new-season-list-item {
            font-family: 'Playfair Display';
            display: inline-block;
            &--center {
                margin: 0 50px;
            }  
            h3 {
                margin: 25px 0 10px 0;
            }
        }
    }
    .new-collection {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 100px;
        
        height: 730px;
        background: url('../img/Rectangle\ 8.png');
        &__h2-wrapper {
            ::after {
                margin-left:127px;
            }
        }
    } 
    .collection-2018 {
        display: flex;
        &__img-wrapper {
            flex-grow: 1;
        }
        &__info {
            &-wrapper {
                text-align: center;
                padding: 100px 281px ;
            }
        }
        &__h2-wrapper {
            ::after {
                margin-right: 70px;
            }
        }
        &__text {
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 61px;
        }
    }
}
.new-goods {
    
    padding: 120px 0 150px 0;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 1110px;
    }
    &__h2-wrapper {
        
        ::after {
            margin-left: 154px;
        }
    }
    &__products ul {
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
    }
    &__product-list-item {
        margin-top: 40px;
        &:first-child {
            margin-left: 0;
        }
    }
    &__product-img-wrapper {
        background-color: #191B1C;
        padding: 55px 25px;
    }
    h3 {
        margin: 25px 0 10px 0;
    }
}
.our-brands {
    padding: 60px 0 80px 0;
    background-color: #0F0F0F;
    &__h2-wrapper {
        ::after {
            margin-right: 69px;
        }
    }
    &__wrapper {
        width: 1110px;
        margin: 0 auto;
        text-align: center;
    }
    &__logos {
        display: flex;
        justify-content: space-between;
    }
}
.footer {
    padding: 74px 0 101px 0;
    background-image: url('../img/footer.png');
    background-position: center;
    button:hover {
        transition: background-color 0.2s;
        background-color: lightgray;
        color: black;
    }
    p {
        font-size: 14px;
        line-height: 21px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        width: 1110px;
        margin: 0 auto;
    }
    &__head {
        font-family: 'Playfair Display';
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 40px;
    }
    &__about {
        width: 350px;
    }
    &__categories {
        width: 275px;
        &-bottom-line {
            margin-top: 20px;
        }
        &-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
        }
        &-btns {
            background-color: #0F0F0F;
            border: none;
            color: white;
            font-size: 14px;
            padding: 10px 16px;
        }
    }
    &__links {
        width: 350px;
        form {
            margin-top: 37px;
            display: flex;
            input {
                padding: 10px;
                border: none;
                background: rgba(255, 255, 255, 0.4);
            }
            ::placeholder {
                color: lightgray;
            }
            button {
                background-color: #0F0F0F;
                text-transform: uppercase;
                border: none;
                color: white;
                font-size: 14px;
                padding: 10px 20px;    
            }
        }
    }
}
