@import url("../styles/reset.css");
@import url("../styles/fonts.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  font-family: "PT Sans";
  color: white;
}

.main-btn {
  font-family: "PT Sans";
  outline: none;
  border: none;
  color: white;
  border: white 1px solid;
  padding: 12px 28px;
  background-color: transparent;
  letter-spacing: 2px;
}

.main-h2-wrapper {
  color: white;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 36px;
}
.main-h2-wrapper ::after {
  content: url("../img/Line 2.png");
  display: block;
  margin-left: 68px;
  padding-bottom: 30px;
}

.header .top-line {
  font-size: 12px;
  background-color: #000000;
  color: gray;
  padding: 14px 0;
}
.header .top-line a {
  color: gray;
}
.header .top-line__login:hover, .header .top-line__registration:hover {
  color: white;
}
.header .top-line .number {
  position: relative;
}
.header .top-line .number::before {
  position: absolute;
  left: -27px;
  content: url("../img/toplinenumber.png");
}
.header .top-line__login {
  position: relative;
}
.header .top-line__login::before {
  position: absolute;
  left: -22px;
  top: 1px;
  content: url("../img/ic_sharp-log-in.png");
}
.header .top-line__wrapper {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  margin: 0 auto;
}
.header .header__main {
  display: flex;
  flex-direction: column;
  background-color: #0F0F0F;
}
.header .header__main-wrapper {
  height: 80px;
  width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.header .header__main .header__logo {
  font-family: "Post No Bills Jaffna";
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 700;
}
.header .header__main .header__nav {
  display: flex;
  align-items: center;
}
.header .header__main .header__nav .header__nav-list .header__nav-list-item {
  transition-property: background-color, color;
  transition: 0.1s 0.1s;
  padding: 31px 20px;
  color: #969696;
  text-transform: uppercase;
  display: inline;
}
.header .header__main .header__nav .header__nav-list .header__nav-list-item:hover {
  border-bottom: 5px gray solid;
  transition: 0.1s;
  background-color: #1F1F1F;
  color: #FFFFFF;
}
.header .header__main .header__nav .header__nav-icons {
  margin-left: 20px;
}
.header .header__main .header__nav .header__nav-icons-item {
  display: inline-block;
  padding: 31px 20px;
}

.first-screen {
  display: flex;
  justify-content: center;
  background: url("../img/first-screen__back.png");
}
.first-screen__text {
  margin-top: 80px;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.first-screen__logo {
  width: 320px;
  height: 320px;
}
.first-screen__wrapper {
  width: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 810px;
}

.collection {
  display: flex;
}
.collection__new-season-img-wrapper {
  background-color: #191B1C;
  padding: 55px 25px;
}
.collection__new-season {
  background-color: gray;
  width: 1040px;
}
.collection__new-season-wrapper {
  padding: 93px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collection__new-season .collection__new-season-list-item {
  font-family: "Playfair Display";
  display: inline-block;
}
.collection__new-season .collection__new-season-list-item--center {
  margin: 0 50px;
}
.collection__new-season .collection__new-season-list-item h3 {
  margin: 25px 0 10px 0;
}
.collection .new-collection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 100px;
  width: 864px;
  height: 730px;
  background: url("../img/Rectangle 8.png");
}
.collection .new-collection__h2-wrapper ::after {
  margin-left: 127px;
}

/*# sourceMappingURL=style.css.map */
